body{
    margin: 15px 70px;
    background-image: url(img/Fondo3.jpg);
    color: white;
    text-align: justify;
    font-size: large;
}
header{
    background-image: url(img/Banner1.jpg);
    background-size: cover;
    height: 550px;
    margin: -15px -70px;
}
header>h1{
    padding: 70px 130px;
    text-align: right;
    font-size: 70px;
    margin: 0%;
}
a{
    color: white;
}
a:hover{
    color: rgba(0, 89, 255, 0.822);
}
footer{
    text-align: center;
}
table{
    border-collapse:collapse ;
    margin: auto;
}
th, td{
    padding: 5px 30px;
}
strong{
    display: block;
    text-align: right;
}